body{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  background :#f9f9f9;
  color: #333;
  transition: background 0.3s ,color 0.3s ;
}
.dark{
  background-color: #121212;
  color: #e4e4e4;
}


/* NAVBAR */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background:#ffffffcc;
  color: #222;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background 0.3s,color 0.3s;
  flex-wrap: wrap;
}
body.dark .navbar{
  background: #1a1a1acc;
  color: #e4e4e4;
}
.navbar ul{
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
.navbar a{
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.theme-btn{
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.2rem;
}

/* HERO */
.hero{
  text-align: center;
  padding: 5rem 1rem;
  background: linear-gradient(120deg,#4f46e5,#06b6d4);
  transition: background 0.3s;
  color: white;
}

.hero span{
  color: #0cd16f;
}
.hero .btn{
  background: white;
  color: #333;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  display: inline-block;
  margin-top: 1.5rem;
  text-decoration: none;
  transition: background 0.3s,color 0.3s;
}
.hero .btn:hover{
  background: #0cd16f;
  color: white;
}

/* ABOUT */


.about {
  padding: 4rem 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  transition: color 0.3s;
}

.about .profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #3eaa81;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ,border-color 0.3s;
}

body.dark .about .profile-image {
  border-color: #e4e4e4;
  border: 4px solid #38bdf8;
}

.about .profile-image:hover {
  transform: scale(1.05);
}


/* PROJECT */
.projects {
  padding: 4rem 2rem;
  text-align: left;
}
.project-lists{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 1.5rem;
}
.project-card{
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0 , 0  ,0, 0.1);
  background: #fff;
  transition: all 0.3s ease;
  border-top: 4px solid #2563eb;

}
.project-card h3{
    color: #1e3a8a;
    font-size: 1.3rem;
}
.dark .project-card h3{
    color: #60a5fa;
}
body.dark .project-card{ 
  background: #1e1e1e;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.05);
  border-top: 4px solid #38bdf8;
}
.project-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}
/* {SKILLS} */
.skills {
  padding: 20px;
  text-align: left;
}
.skill-grid{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0;
}
.skill-card{
  background: white;
  border-radius: 12px;
  width: 100px;
  transition:  all 0.3s ease,color 0.3s;
  text-align: center;
  padding: 15px;
  /* color: #0c0c0c; */

}
body.dark .skill-card{
  background: #121212;
}
.skill-card:hover{
  transform: scale(1.05);
}
/* CONTACT */

.contact{
  text-align: left;
  padding: 4rem 2rem;
  border: 4px solid #1e3a8a;
  border-radius: 50px;
}
body.dark .contact{
  border: 4px solid #38bdf8;
}
.pe{
  font-size: large;
}
.footer{
  background: #222;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 0.9rem;
}
@media(max-width:786px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  .navbar ul{
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 0.5rem;
  }
  .navbar ul.active{
    display: flex;
  }
  .navbar ul li{
    margin: 0.5rem 0;
    width: 100%;
  }
  .theme-btn{
    align-self: flex-end;
    margin-top: 0.5rem;
  }
  .hero{
    padding: 5rem 1rem;
    font-size: 0.95rem;
  }
  .hreo h1{
    font-size: 1.8rem;
  }
  
  
  .about {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .about .profile-image {
    width: 200px;
    height: 200px;
  }
.projects{
  padding: 3rem 1rem;
}
.project-lists{
  grid-template-columns: 1fr;
}
.skills .icons{
  gap:1rem;
  font-size: 2rem;

}
.contact{
  padding: 3rem 1rem;
}
}